<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .persona {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        .review {
                margin-left: 50px;
                font-size: 20px;
        }

    </style>
</head>
<body>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
        <p>Personas</p>
        {% for persona in personas %}
        <div class='Ser vivo'>
            <h3>#{{ persona.Nombre }} - {{ persona.Apellido }}</h3>
            <i><p>(Descripcion)</p></i>
            
            <i><p>{{ persona.Descripcion }}</p></i>
        </div>
        {% endfor %}
    </div>
</body>
</html>