{% extends "layout.html" %}
{% block content %}
  <div class="col-md-8 ml-4">
    <div>
      <form action="" method="POST">
          {{ form_add_instancia.csrf_token() }} <!---necesario si se añadio contraseña--->
          <fieldset class="form-group">
            <div class="row">
                    <div class="col-md-4">
                        <legend>Añadir instancia</legend>
                    </div>
                    <div class="col-md-8">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                      </div>
                    </div>
            </div>
              
              <div class="form-group">
                {{ form_add_instancia.nombre.label(class="formcontrol-label") }}
                {{ form_add_instancia.nombre(class="form-control form-control") }}                
              </div>

              <div class="form-group">
                {{ form_add_instancia.contenido.label(class="formcontrol-label") }}
                {{ form_add_instancia.contenido(class="form-control form-control") }}   
              </div>
              

              <div class="form-group">
                  {{ form_add_instancia.confirmar_btn(class="btn btn-outline-info") }}
              </div>
          </fieldset>
        </form>
    </div>
  </div>
        
      <!-- Esta atento al mensaje flash para informar del estado, embellecerlo luego-->
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <script>
          // De esta manera mostramos el mensaje como una alerta, para javascript hay que transformar el mensaje a un json y luego asegurar la inserción html
          alert({{ message | tojson | safe }});
        </script>
        <!--Si lo quisieramos añadir como un simple texto de aviso abajo
        <div class="row">
          <div class="alert alert-info" role = "alert">
            {{ message }}
          </div>
        </div>
        -->
      {% endfor %}
      
   <!-- Lo usaremos más tarde para avisar de que ya se ha creado y que quiere hacer luego-, ya vemos si lo uso-->
    <script>
      function elementoCreado(nombre_elemento) {
          alert(nombre_elemento + ' añadido correctamente');
      }
    </script>

{% endblock content %}