{% extends "layout.html" %}
{% block content %}

  <style>
    #contenido_instancia{
      height: max-content;
      min-height: 400px;
    }
  </style>


  <div class="col-md-8 ml-4">
    <div>
      <form action="" method="POST">
          {{ form_add_instancia.csrf_token() }} <!---necesario si se añadio contraseña--->
          <fieldset class="form-group">
            <div class="row">
                    <div class="col-md-4">
                        <legend>Añadir instancia</legend>
                    </div>
                    <div class="col-md-8">
                      <div class="custom-file">
                        <label class="custom-file-label" for="customFileLang" id = "nombre_fichero">Seleccionar Archivo</label>
                        <input type="file" class="custom-file-input" id="formFile" lang="es" data-bs-toggle="tooltip" title="Permite rellenar los campos con la información procedente de un fichero">                        
                      </div>
                      <!-- otra forma menos vistosa a mi parecer
                      <div class="mb-3">
                        <input class="form-control" type="file" id="formFile" data-bs-toggle="tooltip" title="Permite rellenar los campos con la información procedente de un fichero">
                      </div>
                      -->
                    </div>
            </div>
              
              <div class="form-group">
                {{ form_add_instancia.nombre.label(class="formcontrol-label") }}
                {{ form_add_instancia.nombre(class="form-control form-control", id = "nombre_instancia") }}                
              </div>

              <div class="form-group">
                {{ form_add_instancia.contenido.label(class="formcontrol-label") }}
                {{ form_add_instancia.contenido(class="form-control form-control", id = "contenido_instancia") }}   
              </div>
              

              <div class="form-group">
                  {{ form_add_instancia.confirmar_btn(class="btn btn-outline-info") }}
              </div>
          </fieldset>
        </form>
    </div>
  </div>
        
      <!-- Esta atento al mensaje flash para informar del estado, embellecerlo luego-->
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <script>
          // De esta manera mostramos el mensaje como una alerta, para javascript hay que transformar el mensaje a un json y luego asegurar la inserción html
          alert({{ message | tojson | safe }});
        </script>
        <!--Si lo quisieramos añadir como un simple texto de aviso abajo
        <div class="row">
          <div class="alert alert-info" role = "alert">
            {{ message }}
          </div>
        </div>
        -->
      {% endfor %}
      

  <!--Gestion de ficheros-->
  <script>
    // El evento change se dispara cuando el usuario selecciona un ficheor.
    document.getElementById('formFile').addEventListener('change', function(event) {
      // Obtener el fichero seleccionado
      var fichero = event.target.files[0];      
      if (fichero) {
          // Obtener el nombre del fichero
          document.getElementById("nombre_fichero").textContent = fichero.name;
          document.getElementById("nombre_instancia").value = fichero.name.split(".")[0];
          // Creamos un lector de archivos
          var lector = new FileReader();
          
          // Definimos la función de lectura del fichero
          lector.onload = function(e) {
              // Obtenemos el contenido del fichero
              var contenido_fichero = e.target.result;              
              document.getElementById("contenido_instancia").value = contenido_fichero;
          };
          
          // Leer el fichero como texto
          lector.readAsText(fichero);
      } else {
          console.log('No se seleccionó ningún fichero.');
      }
    });
  </script>

{% endblock content %}