{% extends "layout.html" %}
{% block content %}


<div class="container mt-5">
    <h2 class="mb-4">Instancias</h2>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                {% for instancia in instancias %}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="#">{{ instancia._id }}</a>
                                <small class="text-muted">Algo1</small>
                            </div>
                            <h2><a class="article-title" onclick="elementoClicado('Elemento 1')">{{ instancia.nombre }}</a></h2>
                        </div>
                    </article>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Contenido</h3>
                <p class='text-muted'>Mostraremos el contenido permitiendo modificarlo, aprovecharemos un nuevo forms</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function elementoClicado(elemento) {
        alert(elemento + ' clicado');
    }
</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</html>
{% endblock content %}