{% extends "layout.html" %}
{% block content %}
  <h3> Empezamos con los modelos (quitar luego) </h3>
    <div>
      
    </div>
    {% for instancia in instancias %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ instancia._id }}</a>
              <small class="text-muted">Algo1</small>
            </div>
            <h2><a class="article-title" href="#">{{ instancia.nombre }}</a></h2>
            <p class="article-content">{{instancia.contenido}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}